<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

{% extends "publisher/templates/publisher_template.html" %}

{% block title %}Notícia Nova{% endblock %}

{% block main %}





<div class="container">
  <div class="row">
    <div class="col">
        <div class="pageTitle">Publicar uma Notícia</div>
        <div class="card">
            <div class="card-body">
                <div class="row_local">
                    <h3>Entrar as detalhas da notícia</h3>
                    <div class="toolTipL">
                        <i class="material-icons">info_outline</i>
                        <span class="tooltiptext">
                            <p>Preencha os campos para criar uma nova notícia.</p><br>
                            <p>Depois, pode associar instâncias dos eventos à história.</p><br>
                            <p>Escolha uma das agências que pertence. As opções das jornalistas e secçãos vão atualizar automaticamente.</p><br>
                            <p>Se pretende de adicionar um novo autor ou nova secção, pode addicionar pelas butões na direta dos campos.</p>
                        </span>
                    </div>
                </div>
                
                <form name="addStory" id="formAddStory" action="{{ url_for('review') }}" method="post">
                    
                    <!-- Required fields -->
                    <div class="row_local">
                        <label class="rigid" for="title">Título: </label>
                        <input type="text" id="title" name="title" placeholder="Título" required minlength="6">
                        <span class="error" aria-live="polite"></span>
                    </div>
                    <div class="row_local">
                        <label  class="rigid" for="pubDate">Data de publicação: </label>
                        <input type="date" id="pubDate" name="pubDate" required>
                        <span class="error" aria-live="polite"></span>
                    </div>
                    <div class="row_local">
                        <label class="rigid" for="webLink">URL: </label>
                        <input type="text" id= "webLink" name="webLink" placeholder="Ligação ao história original" required minlength="6">
                        <span class="error" aria-live="polite"></span>
                    </div>

                    <div class="row_local">
                        <label class="rigid" for="publication">Publicação: </label>
                        <select name="publication" id="publication" class="prefilledVals" onchange="javascript: updatePub(this.options[this.selectedIndex].value);" required>
                            {% for pub_id,vals in publication_info.items() %}
                                <option value="{{ vals.publication_name }}">{{ vals.publication_name|upper }}</option>
                            {% endfor %}
                        </select>
                        <!--
                        <input type="text" id ="publication" name="publication" placeholder="Revista" required minlength="4">
                        <span class="error" aria-live="polite"></span>
                        -->
                    </div>
                    <!-- Optional fields -->
                            
                    <div class="row_local">
                        <label class="rigid" for="author">Jornalista(s): </label>
                        <select multiple name="author" id="author" class="prefilledVals"></select>
                        <button type="button" class="btn btn-add" id="addAuthor" onclick="addNew('author');"> + </button>
                        <!--<input type="text" name="author" placeholder="Jornalista(s)">-->
                    </div>
                    <div class="row_local">
                        <!-- <input type="text" name="summary" placeholder="Summary"> -->
                        <label class="rigid" for="summary">Resumo: </label>
                        <textarea name="summary" rows="5" placeholder = "Resúmo"></textarea>
                    </div>
                    <div class="row_local">
                        <label class="rigid" for="section">Secção:</label>
                        <select multiple name="section" id="section" class="prefilledVals"></select>
                        <button type="button" class="btn btn-add" id="addAuthor" onclick="addNew('section');"> + </button>
                    </div>
                    <div class="row_local">
                        <label class="rigid" for="tags">Etiquetas: </label>
                        <input type="text" name="tags" placeholder="Etiquetas (separarar com vírgulas: ',')">
                    </div>
                    <input type="hidden" name="formType" value="create_story">

                    <br>
                    <div>
                        <button class="btn btn-primary">Guardar</button>
                    </div>
                </form>
                
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const publicationInfo = JSON.parse('{{ publication_info|tojson|safe }}');
    console.log("publicationInfo: ",publicationInfo);
    var pubInput = document.getElementById("publication");
    

    var authorInput = document.getElementById("author");
    console.log("authorInput: ",authorInput);

    var sectionInput = document.getElementById("section");


    function updateList(json_vals, inputType){
        console.log("entering updateList");

        let inputUpdatable;
        
        if (inputType == "author"){
            inputUpdatable = authorInput;
        } else if (inputType =="section"){
            inputUpdatable = sectionInput;
        }

        removeOptions(inputUpdatable);
  
        for (let key in json_vals){
            //console.log("v: ",key,", ",json_vals[key]);
            //string += '<option value = "'+json_vals[key]+'">'+json_vals[key].toUpperCase()+'</option>';
            var option = document.createElement("option");
            option.text = json_vals[key].toUpperCase();
            option.value = json_vals[key];
            inputUpdatable.add(option);
        };

        console.log("leaving updateList");
        return
    }

    function removeOptions(inputUpdatable){
        while(inputUpdatable.options.length > 0){
            inputUpdatable.remove(0);
        };
        return
    };


    function updatePub(pub_name){
        console.log("Entering updatePub(",pub_name,")");
        let selectedPub;
        for (let k in publicationInfo){
            //console.log("k: ",k);
            if (publicationInfo[k]["publication_name"]==pub_name){
                selectedPub = publicationInfo[k];
            };
        };
        
        /* GET AUTHOR SPECIFIC VALUES */
        author_options = selectedPub["authors"];
        //console.log("author_options: ",author_options);
        if (Object.keys(author_options).length === 0){
            console.log("I should automatically add an area where the user can define a new author");
            removeOptions(authorInput);
        } else {
            //authorInput.innerHTML = updateList(author_options);
            updateList(json_vals = author_options, inputType = "author");
        };

        /* GET SECTION SPECIFIC VALUES */
        section_options = selectedPub["sections"];
        console.log("section_options: ",section_options);
        if (Object.keys(section_options).length === 0) {
            removeOptions(sectionInput);
        } else {
            //sectionInput.innerHTML = updateList(section_options);
            updateList(json_vals = section_options, inputType = "section");
        };
        
        console.log("Leaving updatePub");
    };

    function addNew(type){
        console.log("entering addNew(type=",type,")");
        let inputUpdatable;
        let typeName;

        if (type=="author"){
            inputUpdatable =  authorInput;
            typeName = "jornalista";
        } else if (type=="section"){
            inputUpdatable = sectionInput;
            typeName = "secção";
        };
        const promptText = "Escreve mais um"+typeName+":";
        let newVal = prompt(promptText);
        event.preventDefault();
        if (newVal != null){
            var option = document.createElement("option");
            option.text = newVal.toUpperCase();
            option.value = newVal;
            inputUpdatable.add(option);
        };
        
        console.log("leaving addNew");
    }

    
    pubInput.selectedIndex = "0";
    console.log("selectedindex is first");
    console.log("first option:",pubInput.selectedOption);
    updatePub(pubInput.selectedOptions[0].value);
    
</script>


{% endblock %}

