{% extends "publisher/templates/publisher_template.html" %}

{% block title %}Dashboard{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <div class="pageTitle">Publisher dashboard</div>
      <h1>{{ username }}</h1>
      <div class="align-right">
        <a href="{{ url_for('sign_outU', login_source='publisher')}}"><button type="button" class="btn btn-primary">Sign out</button></a>
      </div>
      <hr>

      <div class="card">
        <div class="card-body">
          <h2>Publicar uma notícia nova</h2>
          <a href="/publisher/addstory"><button class="btn btn-primary"> Publicar </button></a> 
        </div>
      </div><br>

      <div class="card">
        <div class="card-body">
          <h2>Notícias prévias</h2>

          <button type="button" class="collapsible active">
            <h3> Os meus notícias ({{ userStories|count }})</h3>
          </button>
          <div class="contentCollapse" style="display:block">
            <div class="scrollResults">
              {% for uStory in userStories %}
                {% for sID, attributes in uStory.items() %}
                  <p><a href="{{ '/publisher/' + sID|string + '/review'}}"> {{ attributes["title"] }} </a> - <i> {{ attributes["date"] }}</i></p>
                  <br>
                {% endfor %}
              {% endfor %}
            </div>
          </div>
          {% for orgName, orgStories in allOrgStories.items() %}
            <button type="button" class="collapsible">
              <h3>{{ orgName }} ({{ orgStories|count }})</h3>
            </button>
            <div class="contentCollapse">
              <div class="scrollResults">
                {% for orgStory in orgStories %}
                  {% for orgStoryID, orgStoryDeets in orgStory.items() %}
                    {% set storyRef = '/publisher/' + orgStoryID|string + '/review' %}
                    <p><a href = "{{ storyRef }}"> {{ orgStoryDeets.title }} </a> - {{ orgStoryDeets.date }}</p>
                    <br>
                  {% endfor %}
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div><br>

      <div class="card">
        <div class="card-body">
          <h2>Mapa das notícias</h2>
          <p>Pode ver a distribuição de todas as notícias aqui.</p>
            <!-- THIS IS THE PUBLISHER NOTICIAS MAP -->
            <div id="instanceMap" style="display:block">
              <div class="wrapper">
                <div id="map" class="map"></div>
                <div id="progress"></div>
                <!--<div id="info">&nbsp;</div>-->
                <div id="popup" class="ol-popup">
                  <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                  <div id="popup-instances"></div>
                  <div id="popup-story"></div>
                  <div id="popupScroll" class="popup-scroll" style="display:block">
                    <div id="scrollL" class="popup-direction">&larr;</div>
                    <div id="scrollCount" class="popup-count"></div>
                    <div id="scrollR" class="popup-direction">&rarr;</div>
                  </div>
                </div>
              </div>
              <div id="info"></div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var userID = "{{ uID }}";
  console.log("User ID: ");
  console.log(userID);
  var mapStoryFilter = "u_id="+userID;
  console.log("Map filter: ")
  console.log(mapStoryFilter);
</script>
<script src="{{ url_for('static', filename='js/map.js') }}"></script>

{% endblock %}