<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css" rel="stylesheet"> 
<script src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js"></script>



<style>
    /*https://www.w3schools.com/howto/howto_css_split_screen.asp*/
    /*Control the left side*/
    .left {
        left: 0;
        width: 30%;
        position: fixed;
        z-index: 1;
        overflow-x: hidden;
    }
    /*Control the right side*/
    .center {
        right: 30%;
        width: 30%;
        position: fixed;
        z-index: 1;
        overflow-x: hidden;
    }

    /*Control the right side*/
    .right {
        right: 0;
        width: 30%;
        position: fixed;
        z-index: 1;
        overflow-x: hidden;
    }

    .calculation-box {
        height: 100px;
        width: 150px;
        position: absolute;
        bottom: 40px;
        right: 10px;
        background-color: rgb(255, 255, 255);
        padding: 15px;
        text-align: center;
    }


</style>
    
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>


{% extends "publisher/templates/publisher_template.html" %}

{% block title %}Localize{% endblock %}

{% block main %}


<!--<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>-->




<div class="container">
  <div class="row">
    <div class="col">
        <div class="pageTitle">Localizar as Notícias</div>
        <h1>{{ story["title"] }}</h1>
        
        <hr>

        <div class="row_local">
            <p>Definir um tempo e local da notícia </p>
            <div class="toolTipL">
                <i class="material-icons">info_outline</i>
                <span class="tooltiptext">
                    <p>Cada localização é uma oportunidade de elaborar onde e quando um acontecimento.</p> <br>
                    <p>Cada notícia pode ter algumas localizações, e cada localização pode ter alguns sítios (polígonos).</p> <br>
                    <p>Escreve um ou mas polígonos aqui, dar um nome (não precisa de ser oficial) e uma descrição. </p><br>
                    <p>Definir as datas do início e o fim, um tipo de interval temporal, e afinal um descrição.</p></span>
            </div>
        </div>
        <form method="POST" action="review">
            <div class="card" id="eventInfo">
                <div class="row_local">
                    <h2>Descrever a localização</h2>
                    <div class="toolTipL">
                        <i class="material-icons">info_outline</i>
                        <span class="tooltiptext">
                            <p>Estas informaçoes ajudam com avaliação das localizações e as suas distribuições.</p><br>
                            <p>Podem ser visíveis nas vistas de exploração e monitorização.</p>
                        </span>
                    </div>
                </div>
                <!-- TOGGLE -->
                <div class="container1" style="flex:50%">
                    <label class="switch">
                        <input id ="cswitch" type="checkbox" onclick = "toggleContext()">
                        <span class="slider round"></span>
                    </label>
                    <div id="ctoggleMode"><p>Modo: Evento</p></div>
                </div>

                <div id="eventName">
                    <div class="row_local">
                        <label for="eName" style="flex:20%"> Nome do evento: </label>
                        <input type="text" id="eName" name="eName" placeholder="Nome do evento" required>
                    </div>
                    <div class="row_local">
                        <label for="eDesc" style="flex:20%">Descrição do evento:</label>
                        <input type="text" id="eDesc" name="eDesc" placeholder="Descrição do evento">
                    </div>
                </div>
            </div>
            
            <div class="card" id="temporal_dez">
                <!-- TEMPORAL -->
                <div class="row_local">
                    <h2>Associar dia e hora</h2>
                    <div class="toolTipL">
                        <i class="material-icons">info_outline</i>
                        <span class="tooltiptext">
                            <p>As dias e horas ajuda com a filtração e organização dos artigos. </p><br>
                            <p>São visíveis nas vistas da contextualização, exploração, publicação, e monitorização.</p><br>
                            <p>Quando será possível, define até as horas mais específicas.</p><br>
                            <p>No caso que não tem dias específicas, pode marcar "Persistente".</p><br>
                            <p>A descrição pode dar mais contexto para as dias e horas.</p><br>
                            <p>No modo do contextualização, não vai associar nem um dia nem uma hora.</p>
                        </span>
                    </div>
                </div>
                <div class="row_local">
                    <div class = "column_local cozycheck" style="flex:20%">
                        <div class="row_local">
                            <input type="radio" id="allday_y" name="allDay" value="allday_y" onClick="timeDefD()" checked="checked" >
                            <label for="allday_y">  Todo o dia</label>
                            <br>
                        </div>
                        <div class="row_local">
                            <input type="radio" id="allday_n" name="allDay" value="allday_n" onClick="timeDefH()">
                            <label for="allday_n">Horas específicas  </label>
                            <br>
                        </div>
                        <div class="row_local" style="display:none;">
                            <input type="radio" id="allday_p" name="allDay" value="allday_p" onClick="timeDefP()">
                            <label for="allday_p">Persistente (sim datas específicas)  </label>
                            <br>
                        </div>                        
                    </div>
                    <div class = "column_local">
                        <div class="row_local">
                            <input type="date" id="tBegin" name="tBegin" required>
                            <input type="date" id="tEnd" name="tEnd"  required>
                        </div>
                        <div class="row_local">
                            <label for="tDesc" style="flex:30%">Descrição temporal: </label>
                            <input type="text" id="tDesc" name="tDesc" placeholder="Descrição de dia e hora">
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="row_local">
                    <h2>Localizar</h2>
                    <div class="toolTipL">
                        <i class="material-icons">info_outline</i>
                        <span class="tooltiptext">
                            <p>As localizações ajudam leitores de contextualizar a notícia.</p><br>
                            <p>Localizações são visíveis nas ferramentas de publicação, contextualização, exploração e monitorização</p><br>
                            <p>Cada sítio obriga pelo menos um localiação, mas pode definir mais. </p><br>
                            <p>Pode reutilizar sítios já existentes ou definir sítios novos. Pode utilizar uma mixtura dos existentes e novos a vontade.</p><br>
                        </span>
                    </div>
                </div>
                <div id="selectName">
                    <div class="row_local">
                        <label for="eDesc" style="flex:20%">Nome do local:</label>
                        <input type="text" id="pName" name="pName" placeholder="Nome do sítio" required>
                        <span class="error" aria-live="polite"></span>
                    </div>
                    <div class="row_local">
                        <label for="eDesc" style="flex:20%">Descrição do local:</label>
                        <!--<div id="selectDesc">-->
                        <input type="text" id="pDesc" name="pDesc" placeholder="Descrição do sítio">
                    </div>
                </div>
                
                   
                <br>
                <div class="card">
                    <button type="button"class="collapsible">
                        <div class="row_local">
                            <h3>Pesquisar locais</h3>
                            <div class="toolTipL">
                                <i class="material-icons">info_outline</i>
                                <span class="tooltiptext">
                                    <p>Pode carregar locais individualmente (nos butões "Carregar") ou pesquisar todas as locais no mesmo tempo. Resultados são organizados por tipo.</p><br>
                                    <p>Para utilizar, selecionar pelo menos uma opção e carrega a butão "Prever" para visualizar no mapa.</p> <br>
                                    <p>Para selecionar mais de que uma opção no mesmo tempo, carrega "CTRL" enquanto está a selecionar.</p><br>
                                    <p>Todos dos nomes dos locais selectionados ficam no título dos locais.</p>
                                    <p>Ver o número dos locais selecionados na seccão "áreas desinhadas" abaixo do mapa.</p>
                                    <p>Para remover, deselecionar a área. </p><br>
                                    <p>No momento de aguarda, todas as áreas desenhadas/selecionadas no mapa serão associadas à localização.</p>
                                </span>
                            </div>
                        </div>
                    </button>
                    <div class="contentCollapse">
                        <div class="row_local">
                            <div style="flex:70%">
                                <input type="text" id="gazSearch" name="gazSearch" placeholder="Pesquisar todos dos locais">
                            </div>
                            <div style="flex:30%">
                                <button type="button" class="btn btn-primary" onclick="searchGazPrev('gaz_prev')">Pesquisar</button>
                            </div>                       
                            <div id="searchTermDisplay" style="display:none"></div>
                        </div>
                        <!-- Ugazetteer -->
                        <button type="button"class="collapsible"><p>Sítios personalizados <span id="bUgazAll"></span><span id="sUgazAll"></span></p></button>
                        <div class="contentCollapse" style="display:none;">
                            <button type="button" class="collapsible"><p>Sítios meus <span id="bUgazMine"></span><span id="sUgazMine"></span></p></button>
                            <div class="contentCollapse" style="display:none;">
                                <div class="contentLowest">
                                    <select id='select_ugaz_personal' name="selectUgazPersonal" onchange="showSelected(this,'sUgazMine')" multiple style="display:none"></select>
                                    <button type="button" class="btn btn-primary  btn-load" onclick="loadGaz('ugaz_personal')">Caregar todos meus</button> 
                                </div>              
                            </div>
                            <button type="button"  class="collapsible"><p>Sítios empresariais <span id="bUgazEmp"></span><span id="sUgazEmp"></span></p></button>
                            <div class="contentCollapse " style="display:none">
                                <div class="contentLowest">
                                    <select id='select_ugaz_empresa' name="selectUgazEmpresa" onchange="showSelected(this,'sUgazEmp')" multiple style="display:none"></select>
                                    <button type="button" class="btn btn-primary btn-load" onclick="loadGaz('ugaz_empresa')">Carragar todos empresariais</button>
                                </div>
                            </div>
                            <button type="button"  class="collapsible"><p>Outros personalizados <span id="bUgazOther"></span><span id="sUgazOther"></span></p></button>
                            <div class="contentCollapse subC" style="display:none">
                                <div class="contentLowest">
                                    <select id='select_ugaz_all' name="selectUgazAll" onchange="showSelected(this,'sUgazOther')" multiple style="display:none"></select>
                                    <button type="button" class="btn btn-primary btn-load" onclick="loadGaz('ugaz_all')">Carregar todoso outros</button>
                                </div>
                            </div>
                        </div>
                        <!-- Egazetteer -->
                        <button type="button" class="collapsible"><p>Sítios administrativos <span  id="bEgazAll"></span><span  id="sEgazAll"></span></p></button>
                        <div class="contentCollapse" style="display:none">
                            <button type="button"  class="collapsible"><p>Freguesias <span id="bEgazFreg"></span><span id="sEgazFreg"></span></p></button>
                            <div class="contentCollapse subC" style="display:none">
                                <div class="contentLowest">
                                    <select id='select_egaz_freguesia' name="selectEgazFreguesia" onchange="showSelected(this,'sEgazFreg')" multiple style="display:none"></select>
                                    <button type="button" class="btn btn-primary  btn-load" onclick="loadGaz('egaz_freguesia')">Carregar todas</button>
                                </div>                           
                            </div>
                            <button type="button" class="collapsible"><p>Conselhos <span id="bEgazConc"></span><span id="sEgazConc"></span></p></button>
                            <div class="contentCollapse subC" style="display:none">
                                <div class="contentLowest">
                                    <select id='select_egaz_concelho' name="selectEgazConcelho" onchange="showSelected(this,'sEgazConc')" multiple style="display:none"></select>
                                    <button type="button" class="btn btn-primary  btn-load" onclick="loadGaz('egaz_concelho')">Carregar todos</button>
                                </div>
                            </div>
                            <button type="button"  class="collapsible"><p>Áreas maiores <span id="bEgazBig"></span><span id="sEgazBig"></span></p></button>
                            <div class="contentCollapse subC" style="display:none">
                                <div class="contentLowest">
                                    <select id='select_egaz_extra' name="selectEgazExtra" onchange="showSelected(this,'sEgazBig')" multiple style="display:none"></select>
                                    <button type="button" class="btn btn-primary  btn-load" onclick="loadGaz('egaz_extra')">Carregar todos</button>
                                </div>                        
                            </div>
                            <button type="button" class="collapsible"><p>Espaço verde <span id ="bEgazVer"></span><span id ="sEgazVer"></span></p></button>
                            <div class="contentCollapse subC" style="display:none">
                                <div class="contentLowest">
                                    <select id='select_egaz_green' name="selectEgazGreen" onchange="showSelected(this,'sEgazVer')" multiple style="display:none"></select>
                                    <button type="button" class="btn btn-primary  btn-load" onclick="loadGaz('egaz_green')">Carregar verdes</button>                     
                                </div>
                            </div>
                            <button type="button" class="collapsible"><p>Arquivos <span id="bEgazArq"></span><span id="sEgazArq"></span></p></button>
                            <div class="contentCollapse subC" style="display:none">
                                <div class="contentLowest">
                                    <select id='select_egaz_archive' name="selectEgazArchive"  onchange="showSelected(this,'sEgazArq')" multiple style="display:none"></select>
                                    <button type="button" class="btn btn-primary  btn-load" onclick="loadGaz('egaz_archive')">Carregar arquivados</button>   
                                </div>                    
                            </div>
                        </div>
                        <!-- Other gazetteer -->
                        <button type="button" class="collapsible"><p>Locais externais <span id="bOgazAll"></span><span id="sOgazAll"></span></p></button>
                        <div class="contentCollapse" style="display:none">
                            <button type="button" class="collapsible"><p>Open Street Map <span id="bOgazOsm"></span><span id="sOgazOsm"></span></p></button>
                            <div class="contentCollapse" style="display:none">
                                <div class="contentLowest">
                                    <select id='select_nominatim' name="selectNominatim" onchange="showSelected(this,'sOgazOsm')"  multiple style="display:none"></select>
                                    <button type="button" class="btn btn-primary btn-load" onclick="searchNominatim()">Pesquisar OSM</button>
                                </div>                         
                            </div>
                        </div><br>

                        <button type="button" class="btn btn-primary btn-big" onclick="initGaz(initSource='prever')">Visualizar localização</button>
                        <br>

                    </div>
                    
                </div>

                <!--<div class="card">
                    <h3>Carregar localizações</h3>
                    
                    <input type="file" id="uploadFile" name="uploadFile">
                    <label for="uploadFile">Carregar um shapefile (.shp)</label>
                    
                    <br>
                    <button type="button" class="btn btn-primary" onclick="validateFile()">Carregar</button>
                    
                </div><br>-->

                <div class="card">
                    <button type="button" class="collapsible">
                        <div class="row_local">
                            <h3>Desenhar áreas novas</h3>
                            <div class="toolTipL">
                                <i class="material-icons">info_outline</i>
                                <span class="tooltiptext">
                                    <p>Pode desenhar um ou mais polígonos para representar a localização customizada onde a notícia acontece (no passado, presente, ou futuro). </p><br>
                                    <p>Pode modificar os polígonos depois ou deleter e começer outra vez.</p>
                                </span>
                            </div>
                        </div>
                    </button>
                    <div class="contentCollapse" style="display:none">
                        <div id="newUgaz" style="display:block" class="row_local">
                            <!-- TOGGLE -->
                            <div class="container1" style="flex:50%">
                                <label class="switch">
                                    <input id ="tswitch" type="checkbox" onclick = "toggleLocalization()">
                                    <span class="slider round"></span>
                                </label>
                                <div id="toggleMode"><p>Ativar modo do desenho</p></div>
                            </div>
                            <div style="display:none">
                                <p>Número dos polígonos:</p>
                                <div id="calculated-area" style="color:red"></div> 
                                <div id="selectGeom" style="color:red" ></div>
                            </div>
                            <div id="deletedFeatures" style="display:none"></div>
                            <!--<label for="type">Geometry type &nbsp;</label> -->
                            <select id="type" style="display:none">
                                <option value="Polygon" select="selected">Polygon</option>
                            </select>   
                            <!--<label for="type">Select type &nbsp;</label> -->
                            <select id="clickType" style="display:none">
                                <option value="click" select="selected">Click</option>
                                <option value="singleclick">Single-click</option>
                                <option value="pointermove">Hover</option>
                                <option value="altclick">Alt+Click</option>
                                <option value="none">None</option>
                            </select> 
                        </div>
                    </div>
                </div>

                <div class="card">
                    <button type="button" class="collapsible comingSoonNav">
                        <div class="row_local">
                            <h3>Avancados</h3>
                            <div class="toolTipL">
                                <i class="material-icons">info_outline</i>
                                <span class="tooltiptext">
                                    <p>As funcionalidades avancadas estão em desenvolvimento.</p>
                                </span>
                            </div>
                        </div>
                    </button>
                    <div class="contentCollapse" style="display:none">
                        <button type="button" class="collapsible comingSoonNav">Carregar ficheiros</span></p></button>
                        <div class="contentCollapse" style="display:none">
                            <p class="comingSoon">Funcionalidade em breve</p>
                        </div>
                        <button type="button" class="collapsible comingSoonNav">Ligar com fonte</span></p></button>
                        <div class="contentCollapse" style="display:none">
                            <p class="comingSoon">Funcionalidade em breve</p>
                        </div>
                    </div>
                </div>

                <div id="eGazMap" style="display:block">
                    <div class="wrapper">
                        <div id="map" class="map" style="cursor:grab;"></div>
                        <div id="progress"></div>
                    </div>
                </div> 

                <!--Summary of associated places-->
                <div id="totalGazSummary" class="row_local"> 
                    <div id="totalGazDiv" style="flex:25%;background-color:var(--danger-colorL)">
                        <p id="totalNumGaz" style="font-weight:bolder;font-size:24px;">0 </p>
                        <p>localizações associadas</p>
                    </div>
                    <div style="flex:25%">
                        <p id = "totalUGaz" style="font-weight:bolder;font-size:18px">0</p>
                        <p> áreas desinhadas. </p>
                    </div>
                    <div style="flex:25%">
                        <p id = "totalEGaz" style="font-weight:bolder;font-size:18px">0</p>
                        <p> áreas existentes. </p>
                    </div>
                </div>
                <em id="alertPoly" style="color:var(--danger-color)">Associar e/ou desenhar pelo menos um localização de notícia.</em>
            </div>
            
            <div class="card">
                <h2> Guardar localização</h2>
                <h3 id="validation" style="display:none">Validação</h3>
                <div id="successAnnouncement">
                    <p>Se faz favor: assinar todos dos campos necesários</p>
                </div>
                <div id="formButton" style="display:none"></div>
                <button type="button" class="btn btn-primary" onclick = submitInstance()> Associar instáncia</button>
            </div>
        </form>

        <div class="row_local">
            <div id="btnReturn"></div>
            <button type="button" class="btn btn-primary" onclick=limparTudo()>Limpar tudo</button>
        </div>

    </div>
</div>

<script>
    //////// STORY INFO ///////
    // Loading story info
    var sID = '{{ sID }}';
    console.log("sID is: ");
    console.log(sID);
    const pubID = '{{ story.p_id }}';
    console.log("pubID: ",pubID);
    var mapStoryFilter = "s_id="+sID;
    console.log("Map Story filter: ",mapStoryFilter);
    var mapEAGazFilter = "";
    const eGazAll = "{{ eGazF }}";
    var uID = '{{ story.u_id }}';
    console.log("uID is: ");
    console.log(uID);
    var pubName = '{{ story.publication }}';
    console.log("pubName is: ");
    console.log(pubName);
    var pubColors = '{{ story.colors }}';

    const story = '{{ story }}';
    console.log("story: ",story);
</script>
<script src="{{ url_for('static', filename='js/localize.js') }}"></script>



{% endblock %}