<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

{% extends "publisher/templates/publisher_template.html" %}

{% block title %}Review{% endblock %}

{% block main %}

  <!--<script src="{{ url_for('static', filename='js/create.js') }}"></script>-->

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="pageTitle">Rever a Notícia</div>
        <h1> {{ story["title"] }} </h1>
        <hr>

        <!-- SUMMARY  -->
        <div class ="card">
          <div class = "card-body">
            <h2>{{ story["section"]|upper }}, {{ story["pub_date"] }}</h2>
            <h3>{{ story["publication"] }} </h3>
            <p>{{ story["summary"] }}</p>
            <div class="align-right">
              <p><i>{{ story["tags"] }}</i> </p>
            </div>
            <div id="goToContext"></div>
          </div>
            
        </div>
      </div>
    </div><br>

    <div class="row">
      <div class="column">
        <!-- INSTANCES -->
        <div class="card">
          <div class = "card-body">
            <div class="row_local">
              <h2>Instâncias</h2>
              <div class="toolTipL">
                  <i class="material-icons">info_outline</i>
                  <span class="tooltiptext">
                    <p>Instâncias descrevem os aspetos spaciais e temporais dos conteudos das instâncias.</p><br>
                    <p>Podem descrever os eventos, no futuro ou passado, ou ajuda com a contextualização da história.</p><br>
                    <p>Pode associar zero, um, ou algumas instâncias à notícia.</p><br>
                    <p>O mapa mostra as instâncias já associadas com a notícia.</p><br>
                    <p>Para remover uma ou mais instâncias, seleciona as instâncias e carrega "Eliminar".</p><br>
                    <p>Para remover a notícia completa, seleciona "Eliminar notícia e todas as instâncias associadas" e carrega "Eliminar".</p><br>
                    <p>Acções de eliminação não podem ser desfeitas.</p>
                  </span>
              </div>
            </div>
                

            <!-- TOGGLE -->
            <div id="toggleDiv" class="container1">
              <label class="switch">
                <input id ="tswitch" type="checkbox" onclick = "toggleMap()">
                <span class="slider round"></span>
              </label>
            </div>

            <!-- EDIT INSTANCES -->
            <div id="instanceList" style="display:none">
              <!-- MANAGE INSTANCES -->
              <script>
                var storyID = "{{ sID }}"; //Replace with a function to get the actual s_id
                deleteStoryID = "deleteStory"+storyID;
                console.log(storyID);
                //Apparently document.write is considered bad practice. Replace in the future with something better
                document.write('<p> <a href="/publisher/'+storyID+'/localize"> <button type="button" class="btn btn-primary">Associar localização</button></a>');
              </script>
              <br>
              <!-- DELETE INSTANCES/STORY -->
              <form action="review" method="POST">
                {% if instances|length > 0 %}
                  {% for instance in instances %}
                    {% for iID, attributes in instance.items() %}
                      {% set instanceID = "instance" ~ iID %}
                      <label class="cozycheck">
                        <input id = "{{ instanceID }}" name = "{{ instanceID }}" type="checkbox" class = "listInstances"> {{ attributes["p_name"] }} <i> {{ attributes["timeframe"] }} </i>
                      </label>                      
                    {% endfor %}
                  {% endfor %}
                {% else %}
                  <p><i>No instances associated with this story</i></p>
                {% endif %}
                <br>
                <label id="deleteStoryArea" class="cozycheck">
                </label>
                <input type="hidden" name="formType" value="delete_story">
                <button type="submit" class="btn btn-primary" id="submitDeleteI">Eliminar</button>
              </form>
            </div>
            <!-- VIEW INSTANCS  -->
            <div id="instanceMap" style="display:block">
              <div class="wrapper">
                <div id="map" class="map"></div>
                <div id="popup" class="ol-popup">
                  <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                  <div id="popup-instances"></div>
                  <div id="popup-story" display="none"></div>
                  <div id="popupScroll" class="popup-scroll" style="display:block">
                    <div id="scrollL" class="popup-direction">&larr;</div>
                    <div id="scrollCount" class="popup-count"></div>
                    <div id="scrollR" class="popup-direction">&rarr;</div>
                  </div>
                </div>
                <div id="progress"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
      
    </div>    
  </div>

  <!-- JAVASCRIPT -->
  
  <script>
    var goToContext = document.getElementById("goToContext");
    goToContext.innerHTML=`<a href="../../jornal/${storyID}/historia"><button type="button" class="btn btn-primary">Ver a versão publicada</button></a>`;
    console.log("goToContext: ",goToContext);
    var instances = '{{ instances|tojson }}';
    instances = JSON.parse(instances);
    console.log("instances: ",instances);
    console.log("type of instances: ", typeof instances);
    console.log("instances length: ",instances.length);

    if (instances.length<1){
      toggleMap(noInst=true);
    }

    function toggleMap(noInst){
      console.log("entering toggleMap(noIns = ",noInst,")");
      //Get the checkbox
      var tswitch = document.getElementById("tswitch");
      //Get output text
      var instanceMap = document.getElementById("instanceMap");
      var instanceList = document.getElementById("instanceList");
      var toggleDiv = document.getElementById("toggleDiv");
      //If the checkbox is checked, display the output text
      if (noInst==true){
        console.log("noInst = true");
        instanceList.style.display = "block";
        console.log("instanceList visible");
        instanceMap.style.display = "none";
        console.log("instanceMap hidden");
        toggleDiv.style.display = "none";
        console.log("toggleDiv hidden");
      } else if (tswitch.checked == true){
        instanceList.style.display = "block";
        instanceMap.style.display = "none";
      } else {
        instanceList.style.display = "none";
        instanceMap.style.display = "block";
      }
      console.log("leaving toggleMap")
    }
    var mapEAGazFilter = "";
    var mapStoryFilter = "s_id="+storyID;
    console.log("Map filter: ")
    console.log(mapStoryFilter);

    var deleteStory = document.getElementById("deleteStoryArea");
    deleteStoryArea.innerHTML = '<input id = '+deleteStoryID+' name = '+ deleteStoryID+' type="checkbox" onclick=temCerteza() class = "deleteStory"> Eliminar notícia e todas as instâncias associadas.';

    function temCerteza(){
      console.log("Entered temCerteza")
    }

    

    
  </script>
  <script src="{{ url_for('static', filename='js/map.js') }}"></script>

{% endblock %}