{% extends "user/templates/user_template.html" %}

{% block title %}Sign up{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Sign up</h1>
      <hr>

      <div class="error-status">
        <div id="user-taken"></div>
      </div>
    
      <script>
        function errorAlert(error) {
          const errorMsg = "";
          const eAlert = document.getElementById('user-taken');
          if (error == 1) {
            eAlert.innerHTML = '<p>"Username in use. Please choose another" </p>';
          }
          else {
            eAlert.innerHTML = '';
          }
        }
      </script>

      <form action="sign_up" method="POST">

        <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="Definir o username">
        </div>
        
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Entrar o email">
        </div>
              
        <div class="form-group">
          <label>Publicação</label>

          <label for="createNewPub">Criar uma publicação nova</label>
          <input type="checkbox" id="createNewPub" name="createNewPub" value="createNewPub" onclick="toggleNamePub()">
          
          <select id="selectExistingPub" name="selectExistingPub">
            {% for pub in publications %}
              <option value="{{ pub.p_id }}">{{ pub.p_name }}</option>
            {% endfor %}
          </select>          

          <div id="nameNewPub" style="display:none">
            <label>Nova publicação:</label>
            <input type="text" id="affiliation" name="affiliation" placeholder="Entrar a sua publicação">
          </div>
          
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Criar uma senha">
        </div>
        <button type="submit" class="btn btn-primary">Sign up</button>

        {% if feedback %}
          <p class="text-danger float-right">{{ feedback }}</p>
        {% endif %}
      </form>
    </div>
  </div>

</div>

<script>
  var nameNewPub = document.getElementById("nameNewPub");
  var selectExistingPub = document.getElementById("selectExistingPub");
  var createNewPub = document.getElementById("createNewPub");
  function toggleNamePub(){
    console.log("checkbox ",createNewPub.checked);
    if (createNewPub.checked){
      nameNewPub.style.display = "block";
      selectExistingPub.style.display = "none";
    } else {
      nameNewPub.style.display = "none";
      selectExistingPub.style.display = "block";
    }
  }
</script>


{% endblock %}

