@import './constants.css';
:root {   
    --brightlight-color: var(--apr-color2);
    --highlight-color: var(--apr-color2L);
    --lowlight-color: var(--apr-color1L);
    --pub-color: black;
    --pub-colorL: black;
    --fill-color: rgba(255,255,255,.6);
    --stroke-color: rgba(255,255,255,1);
    --shadow-color: rgba(0,0,0,.6);
    --egaz-color: black;
    /*padding: 10px;*/

    --card-height: 150px;
    --card-width: 300px;
    --card-margin: 10px;
    --card-box-shadow: -10px 5px 20px;
    --card-box-shadow-hover: -10px 10px 20px rgba(0,0,0,0.4);
    --card-border-radius: 5px;
    --card-border: 3px solid;

    --card-title-height: 40px;
    --card-title-width: (100%);
    --card-title-font-size: 16px;
    --card-title-padding: 5px;

    --color-neutralL: white;

}
body {
    background-color:var(--color-neutralL);
}



.newsArea {
    position: absolute;
    height: 60%;
    top: 0px;
    left: 0px;
    width: 100%;
}

#iframeH {
    height: 100%;
    width: 100%;
}

.button {
    background-color: var(--pub-color);
    border: none;
    color: var(--color-neutralL);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    border-radius: 4px;
    box-shadow: -10px 5px 20px var(--shadow-color); 
}

.button:hover {
    font-weight: bold;
    font-size: 15px;
    box-shadow: -10px 10px 20px var(--shadow-color); 
}

.button2 {
    background-color: var(--color-neutralL);
    border: 3px solid var(--pub-color);
    color: var(--pub-color);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    border-radius: 4px;
    box-shadow: -5px 5px 5px var(--shadow-color); 
}
.button2:hover {
    font-weight: bold;
    font-size: 11px;
    box-shadow: -5px 10px 5px var(--shadow-color); 
}

.wrapperJ {
    position: absolute;
    width: 57%;
    left: 0px;
    bottom: 0px;
    height: 38%;
    margin: 10px;
    border-radius: 5px;
    background-color: white;
}

.map {
    position: absolute;
    height: 96%;
    width: 98%;
    cursor: pointer;
    background: white;
    margin: 1%;
}

.skeleton {
    filter: blur(3px);
    cursor: wait;
}

.mapAll.skeleton {
    cursor: wait;
}

.story-card.skeleton {
    cursor: wait;
}

.ol-popup {
    color: var(--pub-color);
    /*background-color: white;*/
    font-size: 12px; /*This only changes hte size of hte x (closer). Where is the size of hte content??*/
    z-index:10;
    padding: 0px;
}

.blockTitle {
    background-color: var(--pub-color);
    color: white;
    padding: 10px;
    margin: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.popupContent {
    font-size: 12px;
    padding: 5px;
}

.popupInstances {
    background-color: white;
}

/*View nearby area*/
.instanceInst {
    position: absolute;
    overflow: auto;
    width: 40%;
    right: 0px;
    bottom: 0px;
    height: 38%;
    background: white;
    margin: 1%;
    padding: 1%;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 5px;

}

.collapsibleJ {
    background-color: var(--pub-color);
    color: white;
    text-decoration: none;
    padding: 10px;
    height: 50px;
    border-radius: 5px;
    margin: 2px;
}

.contentCollapseJ {
    padding: 0 0 0 10px;
    width: 100%;
    /*height: 60%;*/
    display: none;
    overflow: none;
    background-color: transparent;
    border: none;
    border-color:none;
    box-shadow: none;
    margin: 0;
    padding: 5px;
    overflow-y: auto;
}

.collapsibleJE {
    width: 98%;
}

.active, .collapsible:hover {
    border: 2px solid grey;
    color: white;
}

.instInstText {
    background: var(--pub-color);
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    color: white;
    width: 100%;
    padding: 10px;
}

/*.nearbyButtonArea {
    
    width: 100%;
    height: 100%;
}*/

/*NO ARTICLE AREA STYLING*/
.noticiaArea {
    margin: 10px;
    padding: 20px;
    background: white;
    box-shadow: -10px 5px 20px var(--shadow-color);
    border-radius: 5px;
    height: 80%;
    overflow-y: auto;

}
.noticiaTitle {
    color: var(--pub-color);
    font-weight: bold;
    font-size: 32px;
}
.noticiaPubDate {
    color: grey;
    font-size: 20px;
    position: relative;
    right: 0;
    align-content: right;
}
.noticiaPublication {
    color: var(--pub-color);
    font-size: 16px;
    font-weight: bold;
    position: relative;
    right: 0;
    align-content: right;
}

/*NO INSTANCE STYLING*/
.noInstanceArea {
    position: absolute;
    right: 10%;
    bottom: 20px;
}


/**********/
/* JORNAL MAL STYLING */
/**********/

.jTitle {
    position: static;
    padding: 10px;
    width: 100%;
    color: black;
    text-align: center;
    height: 70px;
}

/* Sections */

.seeSections {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    height: 50px;
}
.sectionB {
    background: none;
    color: var(--pub-color);
    border: none;
    width: 100px;
}
.sectionB:hover{
    font-weight: bold;
}

.maisB {
    background: var(--pub-colorL);
    color: white;
    border: none;
    border-radius:20px;
    margin: 0,0,0, 15px;
}

.maisB:hover {
    background: var(--pub-color);
    color: white;
    border: none;
    border-radius:20px;
    /*margin: 0,0,0, 15px;*/
}

.dropdownSections {
    position:relative;
    display:inline-block;
}

.dropdownSections-content {
    position:absolute;
    box-shadow: var(--shadow-dim) var(--shadow-color);
    height: min(fit-content,400px);
    width: max(fit-content, 200px);
    white-space: wrap;
    overflow-y:auto;
    border: 1px solid var(--pub-color);
    background-color: white;
    margin: 0;
    padding: 0;
    color: var(--pub-color);
    z-index: 1;
}

.sectionM {
    width: 100%;
    padding: 5px;
    background-color: white;
    color: var(--pub-color);
    border: 1px solid var(--pub-color);
    margin: 0;
    white-space: nowrap;
}

/*LIST AND MAP AREAS */

.bigCenter{
    position: absolute;
    width: 98%;
    bottom: 0px;
    top: 200px;
    margin: 1%;
    border-radius: 10px;
    box-shadow: var(--card-box-shadow);
}

.centerArea{
    width: 100%;
    height: 100%;
    position: absolute;
    color: black;
    border-radius: 10px;
}



.listArea{
    margin: .5%;
    width: 34%;
    height: 98%;
    padding: .5%;
    overflow-y: auto;
}

.seeAuthors, .seeTags, .searchTerm {
    left: 0;
    width: 100%;
    padding: 10px;
}
.timeArea {
    /*position: fixed;
    top: 620px;*/
    left: 0;
    width: 98%;
    height: 100px;
    padding: 10px;

}

.filtrarB {
    padding: 10px;
    margin: 10px;
    background-color: var(--pub-color);
}

.filtrarB:hover {
    border: 1px solid grey;
    box-shadow: var(--shadow-dim) var(--shadow-color);
}

.mapArea {
    position: absolute;
    width: 65%;
    height: 100%;
    right: 0;
    bottom: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.wrapper{
    width: 100%;
    height: 100%;
}

.mapAll {
    height: 99%;
    width: 99%;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 5px;
    margin: .5%;
    background: white;
    top: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}



/* MULTICHECK BOX */

.MultiCheckBox {
    border:1px solid var(--pub-color);
    padding: 5px;
    border-radius:5px;
    cursor:pointer;
    background-color: #ffffff;
    color: black;
}

.MultiCheckBox .k-icon{ 
    font-size: 15px;
    float: right;
    font-weight: bolder;
    margin-top: -7px;
    height: 10px;
    width: 14px;
    color:var(--pub-colorL);
} 

.MultiCheckBoxDetail {
    display:none;
    position:relative; /*cgw updated! Originally absolute (must scroll to find if filter is already scrolled). Fixed gets lost if scrolled. Sticky & static makes incur spaces to accommodate the list but its clear where it is and returns after*/
    border:1px solid var(--pub-color);
    background-color:#ffffff;
    overflow-y:hidden;
}

.MultiCheckBoxDetailBody {
    overflow-y:scroll;
}

    .MultiCheckBoxDetail .cont  {
        clear:both;
        overflow: hidden;
        padding: 2px;
    }

    .MultiCheckBoxDetail .cont:hover  {
        background-color:var(--pub-colorL);
    }

    .MultiCheckBoxDetailBody > div > div {
        float:left; 
    }

.MultiCheckBoxDetail>div>div:nth-child(1) {

}

.MultiCheckBoxDetailHeader {
    overflow:hidden;
    position:relative;
    height: 28px;
    background-color:var(--pub-color);
}

    .MultiCheckBoxDetailHeader>input {
        position: absolute;
        top: 4px;
        left: 3px;
    }

    .MultiCheckBoxDetailHeader>div {
        position: absolute;
        top: 5px;
        left: 24px;
        color:#fff;
    }




/* SLIDERS */
.wrapperSlider{
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: transparent;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.containerSlider{
    position: relative;
    width: 100%;
    height: 70px;
    margin-top: 0px;
}
input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}
.slider-track{
    width: 100%;
    height: 5px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}
input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
}
input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    height: 5px;
}
input[type="range"]::-ms-track{
    appearance: none;
    height: 5px;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: var(--pub-color);
    cursor: pointer;
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
}
input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--pub-color);
    pointer-events: auto;
}
input[type="range"]::-ms-thumb{
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--pub-color);
    pointer-events: auto;
}
input[type="range"]:active::-webkit-slider-thumb{
    background-color: #ffffff;
    border: 3px solid var(--pub-color);
}
.valuesSlider{
    background-color: var(--pub-color);
    position: relative;
    width: 32%;
    margin: auto;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    font-size: 10px;
    color: #ffffff;
}
.valuesSlider:before{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-top: 15px solid var(--pub-color);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    margin: auto;
    bottom: -14px;
    left: 0;
    right: 0;
}




/* STORY CARDS */

.resultsArea {
    height: 90%;
    width: 100%;
    bottom: 10px;
    position: center;
    justify-content: center;
}

.resultsStory {
    align-items: left;
    justify-content: left;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    position: center;
    justify-content: center;
}

.story-card {
    width: 100%;
    margin: 0;
    border: var(--card-border) var(--pub-color);
    overflow: hidden;
    color: black;
    display: inline-block; /*previously: flex*/
    flex-direction: column; /*column*/
    align-items: center;
    justify-content: space-between;
    transition: box-shadow 0.2s ease-in;
    cursor: pointer;
}

.story-card:hover {
    border: var(--card-border) grey;
    background-color: var(--pub-colorL);
}



.story-card .story-title {
    /*height: var(--card-title-height);
    white-space: nowrap;*/
    width: var(--card-title-width);
    font-size: var(--card-title-font-size);
    padding: var(--card-title-padding);
    text-align: left;
    position: relative;
    background-color: var(--pub-color);
    border: var(--card-border) var(--pub-color);
    color: white;
}

.story-title.noInstanceGrey {
    background-color:rgb(100, 103, 104);
    border: rgb(100,103,104);
}

.story-card .story-details{
    text-align: center;
    margin: var(--card-details-margin);
    padding: 5px;
    width: var(--card-details-width);
}

.story-card .story-details .pub-date {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 600;
}

.story-card .story-details .story-section {
    font-size: 10px;
    font-weight: 500;
}

.story-card .story-details .story-tags {
    margin-top: 5px;
    font-size: 12px;
}

/* Filter Bubbles*/
.bubbleFilterArea {

    position: absolute;
    width: 100%;
    top: 120px;
    height: 80px;
    padding: 10px;
    white-space: nowrap;
    overflow-x:auto;
    overflow-y:hidden;
}

.bubble {
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
    bottom: 0px;
    box-shadow: -5px 10px 5px var(--shadow-color);
    background-color: var(--pub-color);
    cursor: default;
    border-radius: 20px;
    border-style: solid;
    border-color: var(--pub-colorL);
    border-width: 2px;
    font-weight: 500;
    color: white;
    text-align: center;
    padding: 10px;
    width: fit-content;
}

.bubbleEgaz{
    border-color: var(--egaz-color);
    background-color:var(--egaz-color);
}

.bubbleEgaz:hover {
    background-color: white;
    color: var(--egaz-color);

     
}

.button3 {
    background-color: var(--pub-colorL);
    border-radius: 10px;
    border: 2px solid var(--pub-color);
    color: white;
    font-size: 12px;
    margin: 5px;
}

.button3 .iTitle{
    font-weight: bold;
}


