@import './constants.css';

.map {
    height: 400px;
    width: 100%;
    cursor: pointer;
}
.map:-webkit-full-screen {
    height: 100%;
    margin: 0;
}
.map:-ms-fullscreen {
height: 100%;
}
.map:fullscreen {
height: 100%;
}
.map .ol-rotate {
top: 3em;
}

.map.skeleton {
    filter: blur(5px);
    cursor: wait;
}

.wrapper {
    position:relative;
}
#progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background: var(--apr-color2);
    width: 0;
    transition: width 250ms;
}

/* POP UP */
.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px var(--shadow-color);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid var(--apr-color2);
    bottom: 12px;
    left: -50px;
    min-width: 280px;
    font-size: 12px; /*Added july 22 for jornal*/
    cursor: default;
}

.popup-scroll{
    height: 30px;
    display:absolute;
    position: center;
    justify-content: center;
    color: var(--apr-color3);
    font-size: 11px;
    font-weight: bold;
    background-color:white;
    padding: 10px;
}

.popup-direction, .popup-count{
    display:inline;
}

.popup-direction {
    cursor:pointer;
}

.popup-direction:hover {
    font-size: 12px;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: var(--apr-color2L);
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "✖";
    color: var(--apr-color1);
}

/*Testing scroll through pop up*/
.ol-popup-pagebehind {
    text-decoration: none;
    position: absolute;
    bottom: 0px;
    left: 100px;
}
.ol-popup-pagebehind:after {
    content: '<';
    cursor: pointer;
    color: var(--apr-color1);
}
.ol-popup-pageahead {
    text-decoration: none;
    position: absolute;
    bottom: 0px;
    right: 100px;
}
.ol-popup-pageahead:after {
    content: '>';
    cursor: pointer;
    color: var(--apr-color1);
}

div.scrollResults {
    margin:4px, 4px;
    margin-top: 10px;
    padding:4px;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}